* {
  margin: 0%;
  padding: 0%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: url(../assets/background.JPG);
  background-position: center 30%;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
}

img {
  width: 90%;
  height: auto;
}

.images1 {
  opacity: 0;
  -webkit-transform: translate3d(-1rem, 0, 0);
          transform: translate3d(-1rem, 0, 0);
  -webkit-transition: opacity 1.5s ease-in, -webkit-transform 2s ease-in;
  transition: opacity 1.5s ease-in, -webkit-transform 2s ease-in;
  transition: opacity 1.5s ease-in, transform 2s ease-in;
  transition: opacity 1.5s ease-in, transform 2s ease-in, -webkit-transform 2s ease-in;
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
}

.images2 {
  opacity: 0;
  -webkit-transform: translate3d(-1rem, 0, 0);
          transform: translate3d(-1rem, 0, 0);
  -webkit-transition: opacity 1.5s ease-in, -webkit-transform 2s ease-in;
  transition: opacity 1.5s ease-in, -webkit-transform 2s ease-in;
  transition: opacity 1.5s ease-in, transform 2s ease-in;
  transition: opacity 1.5s ease-in, transform 2s ease-in, -webkit-transform 2s ease-in;
  -webkit-transition-delay: 2s;
          transition-delay: 2s;
}

.images3 {
  opacity: 0;
  -webkit-transform: translate3d(-1rem, 0, 0);
          transform: translate3d(-1rem, 0, 0);
  -webkit-transition: opacity 1.5s ease-in, -webkit-transform 2s ease-in;
  transition: opacity 1.5s ease-in, -webkit-transform 2s ease-in;
  transition: opacity 1.5s ease-in, transform 2s ease-in;
  transition: opacity 1.5s ease-in, transform 2s ease-in, -webkit-transform 2s ease-in;
  -webkit-transition-delay: 3s;
          transition-delay: 3s;
}

.images4 {
  opacity: 0;
  -webkit-transform: translate3d(-1rem, 0, 0);
          transform: translate3d(-1rem, 0, 0);
  -webkit-transition: opacity 1.5s ease-in, -webkit-transform 2s ease-in;
  transition: opacity 1.5s ease-in, -webkit-transform 2s ease-in;
  transition: opacity 1.5s ease-in, transform 2s ease-in;
  transition: opacity 1.5s ease-in, transform 2s ease-in, -webkit-transform 2s ease-in;
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
}

.images5 {
  opacity: 0;
  -webkit-transform: translate3d(-1rem, 0, 0);
          transform: translate3d(-1rem, 0, 0);
  -webkit-transition: opacity 1.5s ease-in, -webkit-transform 2s ease-in;
  transition: opacity 1.5s ease-in, -webkit-transform 2s ease-in;
  transition: opacity 1.5s ease-in, transform 2s ease-in;
  transition: opacity 1.5s ease-in, transform 2s ease-in, -webkit-transform 2s ease-in;
  -webkit-transition-delay: 2s;
          transition-delay: 2s;
}

.images6 {
  opacity: 0;
  -webkit-transform: translate3d(-1rem, 0, 0);
          transform: translate3d(-1rem, 0, 0);
  -webkit-transition: opacity 1.5s ease-in, -webkit-transform 2s ease-in;
  transition: opacity 1.5s ease-in, -webkit-transform 2s ease-in;
  transition: opacity 1.5s ease-in, transform 2s ease-in;
  transition: opacity 1.5s ease-in, transform 2s ease-in, -webkit-transform 2s ease-in;
  -webkit-transition-delay: 3s;
          transition-delay: 3s;
}

.images7 {
  opacity: 0;
  -webkit-transform: translate3d(-1rem, 0, 0);
          transform: translate3d(-1rem, 0, 0);
  -webkit-transition: opacity 1.5s ease-in, -webkit-transform 2s ease-in;
  transition: opacity 1.5s ease-in, -webkit-transform 2s ease-in;
  transition: opacity 1.5s ease-in, transform 2s ease-in;
  transition: opacity 1.5s ease-in, transform 2s ease-in, -webkit-transform 2s ease-in;
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
}

.images8 {
  opacity: 0;
  -webkit-transform: translate3d(-1rem, 0, 0);
          transform: translate3d(-1rem, 0, 0);
  -webkit-transition: opacity 1.5s ease-in, -webkit-transform 2s ease-in;
  transition: opacity 1.5s ease-in, -webkit-transform 2s ease-in;
  transition: opacity 1.5s ease-in, transform 2s ease-in;
  transition: opacity 1.5s ease-in, transform 2s ease-in, -webkit-transform 2s ease-in;
  -webkit-transition-delay: 2s;
          transition-delay: 2s;
}

.active {
  opacity: 1;
  -webkit-transform: none;
          transform: none;
}

.page1 {
  margin-top: 1em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  justify-items: end;
  height: 100vh;
  place-items: center center;
}

@media (max-width: 1024px) {
  .page1 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    height: 100vh;
    place-items: center center;
  }
  img {
    width: auto;
    height: 90vh;
    margin: 3em auto;
  }
}

@media (max-width: 480px) {
  .page1 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    height: 100vh;
    place-items: center center;
  }
  img {
    width: 95%;
    height: auto;
    margin-left: 0.3em;
    padding-bottom: 2em;
    border-bottom: 1px solid red;
  }
}
/*# sourceMappingURL=stylesheet.css.map */